div#question-container {

}

div#question-container .comment {
  border: purple 1px solid;
  margin-bottom: 20px;
}

div#question-container .comment .parent-comment {
  border: #ccc 1px solid;
  padding: 10px;
}

div#question-container .comment .child-comments {
  padding: 10px;
  padding-left: 40px;
}

div#question-container .comment .add-comment {
  padding: 10px;
}
