{% extends '/layout/layout.twig' %}

{% block heading %}

  <div class="content-heading">

    <h1>About us</h1>

    <div class="breadcrumbs">

      {% for item in breadcrumb %}

          {% if item.url is not null %}
            <a href="{{ app.url.create(item.url) }}">{{ item.title }}</a> /
          {% else %}
            {{ item.title }}
          {% endif %}

      {% endfor %}

    </div>

  </div>

{% endblock %}


{% block content %}

<div class="about-container">
  <h2>Invested</h2>
  <p>Invested is a global financial community for people interested in investing, stocks and savings. On Invested you are free to ask
  any question regarding economy and get answers from our users. Invested is aiming to solve any questions you have and make the most of your money. <br><br>

  If you know the answer to another members question, feel free to help them out. You will be rewarded with points!</p>
</div>

{% endblock %}
