{% extends '/layout/layout.twig' %}

{% block heading %}

  <div class="content-heading">

    <h1>About us</h1>

    <div class="breadcrumbs">

      {% for item in breadcrumb %}

          {% if item.url is not null %}
            <a href="{{ app.url.create(item.url) }}">{{ item.title }}</a> /
          {% else %}
            {{ item.title }}
          {% endif %}

      {% endfor %}

    </div>

  </div>

{% endblock %}


{% block content %}

<div class="about-container">
  <h2>Fingerprint</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque enim metus, sagittis ut ex hendrerit, ultricies pretium massa. Nulla posuere arcu eros, sed tempus lectus molestie sed. Phasellus mattis leo vel elit faucibus, eu pretium diam pulvinar. Nam eget diam vitae nisi dictum mattis. Sed auctor suscipit nulla. Ut ex erat, vehicula eu volutpat in, tincidunt ac urna. Curabitur lobortis et ligula id egestas. Pellentesque at sem sem. In commodo nunc eget lorem maximus, blandit malesuada neque consectetur. Vestibulum ut bibendum velit. Nulla facilisi. Morbi dictum cursus vestibulum. Praesent et arcu nibh. Duis sodales eros eu eros sagittis, eu rhoncus felis fringilla.
  </p>

  <p>
    Nunc sed risus condimentum, luctus lectus eu, interdum quam. Donec vitae erat a risus luctus fermentum sed pretium urna. Aenean ultricies eleifend orci sodales lobortis. Nunc turpis ante, varius et arcu efficitur, consequat sollicitudin libero. Sed malesuada ante at semper mattis. Morbi efficitur tellus in felis porta condimentum. Integer eros mauris, mattis sit amet pulvinar eget, condimentum quis mauris. Pellentesque quam ante, scelerisque eu velit sit amet, ornare congue eros. Aenean at tincidunt massa, nec blandit ante. Sed luctus vel ligula quis hendrerit. Donec accumsan libero sit amet lacinia euismod. Nulla eu purus vel quam imperdiet volutpat non vel sapien. Phasellus rutrum est magna, vel pretium ante placerat sed. Quisque finibus magna nec lacus condimentum mollis eget eget erat. Integer sodales enim vel sapien fringilla, sed tempor mi tincidunt.
  </p>
</div>

{% endblock %}
